
/* Spinning Curved Text */

.spinning-text-wrapper {
    position: relative;
    height: 600px;
    display: grid;
    place-items: center;
    font-size: 10px;
    font-weight: bold;
  }
  
  .spinning-text {
    position: absolute;
    width: 13%;
    height: 13%;
    animation: spin 50s linear infinite;
  }
  
  .spinning-text span {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0 50px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinning-text-wrapper img {
    width: 50px;
    height: auto;
    filter: drop-shadow(10px 10px 5px hsla(0, 0%, 0%, 0.461));
  }